.slide-desc-bg {
	background:none;
}
.slide-desc-text {
	color: #fff;
	padding: 0;
	text-align: left;
	font-size:16px;
}
.slide-desc-text .slide-title {
    color: #e89e56;
    font-family: "droid serif";
    font-size: 36px;
    font-style: bold;
    letter-spacing: 1px;
    margin-bottom: 25px;
}
.slide-desc-text .slide-title a {
	color: #e89e56;
	font-size: 36px;
}
.djslider .navigation-container a {
	outline: none;
}
.djslider-loader {
	background: url(../../../images/loader.gif) center center no-repeat;
}

.djslider li {
	text-align: center;
}

span.load-button {
	width: 12px;
	height: 12px;
	display: block;
	background: #334;
	float: left;
	margin-right: 4px;
	cursor: pointer;
	border-radius: 5px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	opacity: 0.2;
	filter: alpha(opacity = 20);
}
span.load-button-active {
	opacity: 0.6;
	filter: alpha(opacity = 60);
}

/* added by Yvonne for SPIF */
#djslider20, #djslider20 ul#slider20 li, #djslider-loader20, #slider-container20 {width:960px !important; height:360px !important;}
#slider20 .slide-desc {bottom: 0 !important; width:960px !important;}
#slider20 li img {position:relative !important; left:130px !important;}


/*** image on the left and 100% height of description area ***/
/*
#slider45 li {
	text-align: left;
}
#slider45 .slide-desc,
#slider45 .slide-desc-in {
	height: 100%;
}
#slider45 .slide-desc-bg {
	opacity: 1;
	filter: alpha(opacity = 100);
}
*/
